{% extends 'base.html.twig' %}

{% block title %}Festival Technonite : Artistes
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-center my-5">
		<div class="justify-content-around">
			{% for category in categories %}
				<button type="button" class="btn btn-{{category.color}} m-1" href="">{{category.name}}</button>
			{% endfor %}
		</div>
	</div>

	<div class="row">
		{% for artist in artistes %}
			<div class="col-4">
				<div class="card border-{{artist.category.color}} mb-3">
					<div class="card-body">
						<div class="card-header text-end">
							<span class="badge rounded-pill bg-{{artist.concert ?'secondary' : 'primary'}}">
								{{artist.concert ? 'Musique de rue' : 'Concert' }}</span>
						</div>
						<h4 class="card-title">
							{{artist.name}}</h4>
						<p class="card-text">{{artist.description | slice(1, 100)}}</p>
						<p>
							<a href="#">Découvrir l'artiste</a>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}
